/* Start Variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 40px;
    --section-background: #f6f6f6;
    --pargaraph-color: #777;
    --special-color: #ebeced;
    --line-height: 1.6;
}
/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
}
ul {
    list-style: none;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px; 
}

/* Media Small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 768px) {
    .heading {
        font-size: 70px;
    }
    .heading + p {
        margin-top: -20px;
    }
}
/* Media Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Media Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Component */
.special {
    background-color: var(--section-background)
}
.heading {
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    font-size: 150px;
    background-color: var(--section-background);
    color: var(--special-color);
    margin: 0;
}
.heading + p {
    text-align: center;
    font-size: 20px;
    margin: -30px 0 0;
    color: var(--pargaraph-color);
}
@media (max-width: 375px) {
    .heading {
        font-size: 70px;
    }
    .heading + p {
        margin-top: -20px;
    }
}
.grid-template {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
/* End Component */
/* Start Header */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1; 
    background-color: var(--special-color);
}
.header .container {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header .logo {
    width: 60px;
}
.header .links {
    position: relative;
    z-index: 1;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100px;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 15px;
    z-index: 1;
}
.header .links .icon span {
    background-color: var(--main-color);
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child {
    width: 100%;
}
.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: .5s ;
}
.header .links .icon span:last-child {
    width: 100%;
}
.header .links ul {
    margin: 0;
    padding: 0;
    background-color: var(--section-background);
    position: absolute;
    right: 0;
    min-width: 150px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}
.header .links:hover ul {
    display: block;
}
.header .links ul::before {
    content: "";
    border: 10px solid;
    border-color: transparent transparent var(--section-background) transparent;
    position: absolute;
    top: -20px;
    right: 5px;
}
.header .links ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--secondary-color);
    transition: .5s;
}
.header .links ul li a:hover {
    padding-left: 20px;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid var(--secondary-color);
}
/* End Header */
/* Start Landing Section  */
.landing {
    background-image: url(../images/landing3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(61vh - 47px);
    position: relative;
}
@media (max-width: 676px) {
    .landing {
        background-image: url(../images/landing.jpg);
        background-size: cover;
    }
}
.landing .intro-text {
    text-align: center;
    width: 320px;
    max-width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}
.landing .intro-text h1{
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}
.landing .intro-text p {
    font-size: 19px;
    line-height: var(--line-height);
}
/* End Landing Section  */
/* Start Features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.features .container {
    grid-gap: 20px;
}
.features .feat {
    padding: 20px;
    text-align: center;
}
.features .feat i {
    color: var(--main-color);
}
.features .feat h3 {
    font-weight: 800px;
    margin: 30px 0;
}
.features .feat p {
    color: var(--pargaraph-color);
    line-height: var(--line-height);
    font-size: 17px;
}
/* End Features */
/* Start Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .services-content {
    grid-gap: 30px;
    margin-top: 100px;

}
.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .srv .text {
    flex: 1;
}
.services .services-content .srv .text h3 {
    margin: 0 0 20px;
}
.services .services-content .srv .text p {
    color: var(--pargaraph-color);
    font-weight: 300;
    line-height: var(--line-height);
}
.services .services-content .image {
    text-align: center;
    position: relative;
}
.services .services-content .image::before {
    content: "";
    background-color: var(--secondary-color);
    position: absolute;
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    right: 0;
    z-index: -1;
}
.services .services-content .image img {
    width: 250px;
}
@media (max-width: 1199px) {
    .image-column {
        display: none;
    }
}
/* End Services */
/* Start Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.portfolio .portfolio-content {
    grid-gap: 30px;
    margin-top: 80px;
}
.portfolio .portfolio-content .card {
    border: 1px solid #cccccc;
    margin: 10px;
    box-shadow: 0px 5px 20px #e4e4e4, 0px -5px 20px #e4e4e4;
    border-radius: 5px;
}
.portfolio .portfolio-content .card img {
    max-width: 100%;
    border-radius: 5px;
}
.portfolio .portfolio-content .card .info{
    padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
    margin: 0;
}
.portfolio .portfolio-content .card .info p{
    color: var(--pargaraph-color);
    line-height: 1.6;
    margin-bottom: 0;
}
/* End Portfolio */
/* Start About */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc( var(--section-padding) + 60px );
}
.about .about-content {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}
.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}
.about .about-content .image img {
    max-width: 100%;
}
@media (max-width: 991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}
.about .about-content .image::before {
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 80px);
    background-color: var(--special-color);
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about .about-content .image::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    top: -40px;
    right: -150px;
    z-index: -1;
}
@media (max-width: 991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
    .about .about-content .image {
        display: none;
    }
}
.about .about-content .text {
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p {
    line-height: 2;
}
.about .about-content .text p:first-of-type {
    font-weight: bold;
    margin-bottom: 50px;
}
.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
    color: var(--pargaraph-color);
}
/* End About */
/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact .info {
    padding-top:  calc(var(--section-padding) + 20px);
    padding-bottom:  calc(var(--section-padding) + 20px);
    text-align: center;
}
.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
}
.contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}
.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 20px;
}
.contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
}
@media (max-width: 767px) {
    .contact .info .label,
    .contact .info .link {
        font-size: 21px;
    }
    .contact .info .social {
        font-size: 13px;
    }
}
/*  Start Footer */
.footer {
    background-color: var(--secondary-color);
    color: var(--special-color);
    text-align: center;
    font-size: 15px;
    padding: 30px 10px;
}
.footer span {
    font-weight: bold;
    color: var(--main-color);
}
/*  End Footer */